.announcment_bar_text, .elementor .announcment_bar_text {
    &:hover  {
        font-size: $announcment_bar_text_font_size;
        word-spacing: $announcment_bar_word_spacing;
        line-height: $announcment_bar_text_line_height;
        span.announcment_wrap_text {
            text-decoration: underline;
        }
    }

    @media only screen and (max-width: 991px) {
                font-size: $announcment_bar_text_font_size;
                word-spacing: $announcment_bar_word_spacing;
                line-height: $announcment_bar_text_line_height;
    }
    
}