@include media-breakpoint-down(xl) {
.blog .mt-sn-100 {
    margin-bottom: 0 !important;
}
}

.blog_img_container {
    img {
        @include media-breakpoint-up(lg) {
            object-fit: cover;
            object-position: top;
            min-height: 200px;
        }
    }
}