.company_treat_content,.finance_custom_content {

    ul {
        padding-bottom: 0 !important;
        padding-left: 35px !important;
    li {
        margin-bottom: 0 !important;
        list-style: disc;
        padding: 0 !important;
        &::before {
            display: none;
        }
    }
}
}


.subpage_banner {
    min-height: 250px;
    position: relative;
    @include media-breakpoint-down(lg) {
        min-height: 250px;
    }
    &:after {
            content: '';
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            left: 0;
    }
}
.home_banner {
    .display2,
    .display1 {
        text-shadow: 0px 4px 10px rgba($true_black, 0.50);
    }

    .home_banner_container {
        @include media-breakpoint-up(lg) {
            max-width: 980px;
            margin-left: auto;
        }
        @include media-breakpoint-up(xl) {
            margin-left: 5%;
        }
        @media (min-width: 1920px) {
            margin-left: auto;
        }
    }

    min-height: 560px;
    @include media-breakpoint-up(lg) {
        min-height: 560px;
    }
    @include media-breakpoint-up(xxl) {
        min-height: 790px;
    }

    .banner-mascot-img {
        @include media-breakpoint-up(lg) {
             position: absolute;
            right: -60px;
            transform: scale(0.6);
            bottom: -65px;
        }
        @include media-breakpoint-up(xl) {
            right: -360px;
            top: -73px;
        }
        @media (min-width: 1920px) {
            right: -437px;
            transform: scale(1);
        }
    } 

    .expert-icons {
        @include media-breakpoint-down(lg) {
            max-width: 30px;
        }
    }
}


.elementor-column-gap-default {

    @media (min-width: 991px) {
        & > .sidebar-content-area > .elementor-element-populated  {
            padding-left: 3.33px !important;
        }
        & > .subpage-content-area > .elementor-element-populated  {
            padding-right: 26.67px !important;
        }
    }
}

.subpage-container {

    @include media-breakpoint-up(xl) {
            max-width: 1165px;
    }

}

.subpage-content-area {
    .e-parent {
        padding-left: 0;
        padding-right: 0;
    }
}

.subpage-full-width {
    .e-parent {
        padding-left: 0;
        padding-right: 0;
    }
}


.sidebar-content-area {
       &>.elementor-element-populated {
          gap: 40px;
        @include media-breakpoint-up(lg) {
          gap: 75px;
        }
    }

 .recent_post {
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
    max-width: 100vw; width: 100vw; 

        .blog_img {
            width: 100%;
        }

 }
 


    @include media-breakpoint-between(lg, xl) {
        .btn {
          min-width: 180px !important;
          padding-left: 20px !important;
          padding-right: 20px !important;
        }
    }
}

.privacy-policy .elementor-widget-container {
    .e-con {
        padding-left: 0;
        padding-right: 0;
    }
}


.steps_icon_color {
    color: $true_white !important;
}

.estimate_accordion {

    &:after { 
        z-index: -1;
    }

}

.schedule_accordion  {
    .step:nth-child(2):before {
        top:54px;
    }
    .step:nth-child(3):before {
        top:54px;

        @include media-breakpoint-down(xl) {
            left: 405px;
        }
    }
}

.free_estimate_accord, .schedule_service_accord{

    &:after {
        left: 44px;
    }

}

.content_white  {
    h2,h3,h4 ,h5,h6 {
        color: $true_white !important;
    }
    p, li  {
        color: $true_white !important;
        a {
            color: $primary_color !important;
            &:hover {
                color: $primary_color !important;
            }
        }
    }
}

.company_services {
  @include media-breakpoint-up(lg) {
    background-color: $primary_color;
  }
.company_img_bg {
  @include media-breakpoint-up(lg) {
    background-image: url('../img/seo-section/seo-img.jpg');
    background-image: -webkit-image-set(
      url('../img/seo-section/seo-img.jpg') 1x,
      url('../img/seo-section/seo-img@2x.jpg') 2x,
      url('../img/seo-section/seo-img@3x.jpg') 3x
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center !important;
    height: 100%;
    width: 100%;
    min-height: 550px;
    min-height: 550px;
  }
}
p , ul {
    &:last-child {
        margin-bottom: 0 !important;
    }
    strong {
        color: $secondary_color;
    }
}
}

.company_services_row {

     @include media-breakpoint-up(xl) {
         gap: 40px;
        &__col {
            width: 100%;
            max-width: 550px;
        }
     }
}

.review_panel {
    border-radius: 10px;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.16);
}

.review_block {
    background-color: $true_black !important;
    padding: 40px;
    @include media-breakpoint-up(xl) {
         padding: 80.148px 79px;
    }

}

.review_page_content {

    .review_panel {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

.services_section {
    .container  {
      @include media-breakpoint-up(xl) {
        max-width: 1180px;
        }
    }
}

.financing-fullwidth-cta {
    ul {
        li {
            color: $true_white !important;
            margin-bottom: 10px;
            &::before {
                content:url('../img/custom-financing-cta/check-icon.svg');
                    background-color: transparent;
                    width: 18px;
                    height: 16px;
                    left: 0;
                    top: 0;
            }
            &:last-child {
                margin-bottom: 0 !important;
            }
            a {
                color: $true_white !important;
                &:hover {
                    color: $true_white !important;
                }
            }
        }
        margin-bottom: 40px;
    }

}

.review-container {

    
    .review-mascot-img {
        @include media-breakpoint-up(lg) {
            position: absolute;
            right: -60px;
            transform: scale(.3);
            bottom: -65px;
        }
        @include media-breakpoint-up(xl) {
            right: -225px;
        }

         @media (min-width: 1600px) {
            right: -280px;
            transform: scale(.6);
         }

        @media (min-width: 1920px) {
            right: -360px;
            transform: scale(1);
        }
    }
}

.financing-fullwidth-cta {
     @include media-breakpoint-up(lg) {
         min-height: 567px;
     }
}

.sidebar_coupon {
     @include media-breakpoint-down(md) {
        margin-left: -6px;
        margin-right: -6px;
     }

}

.affiliation-swiper {
      @include media-breakpoint-up(xl) {
        max-width: 1000px;
    }
}
.thankyou_page_content_color p { margin-bottom: 30px;}