.error-pipe {
    top: 0;
    background-color: $true_black;
}

.error-search-box .error-search, .error-search-box .error-search:focus, .error-search-box .error-search:hover {
    color: $secondary_color !important;
    font-size: $btn_text_font_size;
    line-height: $btn_text_line_height;
    font-weight: $btn_text_font_weight;
    font-family: $btn_text_font_family !important;
    max-width: 92px;
}

.error-search-box .error-search::placeholder {
 color: $secondary_color !important;
}