.desktop-header-container {

    @media (min-width: 1600px) {
       padding-right: 80px !important;
       padding-left: 80px !important;
    }

@media (min-width: 1300px) and (max-width: 1449.98px) {
    .branding_logo  {
            max-width: 237px !important;
    }
 }

 @media (min-width: 1200px) and (max-width: 1299.98px) {
    .branding_logo  {
            max-width: 176px !important;
    }
 }
} 

