
.accordion  {
  margin-top: 10px;
  margin-bottom: 10px;
}

.accordion-item {

  &.border-1 {
    border: $accordions_border_width solid $accordions_border_color !important;
  }
  margin-bottom: 10px;

  P:empty{ display: none;
  
  }
}

.elementor-40155,.elementor-40551,.elementor-40482 {

.elementor-widget-rds-accordion-widget {

      .container-fluid.pb-5 ,.container {
        padding: 0 !important;
    }

}

}

/*financing page*/

.elementor-40844 {
    .accordion  { margin: 0 ;}
}