/*style the items (options), including the selected item:*/
$enable-radius-btn:true !default;

.select-items div,
.select-selected,
.select-selected-category {
	color: $true_black;
    background: $quaternary_color;
	padding: 10px;
	font-family: $default_font_family !important;
	font-size: 14px;
    font-weight: 500;
    line-height: 17.5px;
}
.select-selected-category {
	font-size: 14px;
	font-family: $default_font_family !important;
}
input#search {
	color: $true_black !important;
	 @include media-breakpoint-up(xl) {
		max-width: 290px;
	 }
}
.select-items {
	color: $true_black !important;
	div {
		color: $true_black;
		border-radius: 0;
		border: none;
		&:hover {
			background-color: $primary_color;
			color: $true_black !important;
		}
	}
}

.custom-select  {
	.select-selected  {
		padding: 10px 30px 10px 10px;
		background-repeat: no-repeat !important;
		background-position: center right !important;
		background-image: url('data:image/svg+xml,<svg width="30" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.45508 8.36426L2.20508 3.11426C1.93164 2.86816 1.93164 2.45801 2.20508 2.18457C2.45117 1.93848 2.86133 1.93848 3.13477 2.18457L7.91992 6.99707L12.7051 2.21191C12.9512 1.93848 13.3613 1.93848 13.6348 2.21191C13.8809 2.45801 13.8809 2.86816 13.6348 3.11426L8.35742 8.36426C8.11133 8.6377 7.70117 8.6377 7.45508 8.36426Z" fill="%23' + str-slice('#{$form_select_arrow_color}', 2) + '"/></svg>') !important;
		background-repeat: no-repeat !important;

	}
	select {
		padding: 10px 30px 10px 10px;
		background-repeat: no-repeat !important;
		background-position: center right !important;
		background-image: url('data:image/svg+xml,<svg width="30" height="10" viewBox="0 0 20 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.45508 8.36426L2.20508 3.11426C1.93164 2.86816 1.93164 2.45801 2.20508 2.18457C2.45117 1.93848 2.86133 1.93848 3.13477 2.18457L7.91992 6.99707L12.7051 2.21191C12.9512 1.93848 13.3613 1.93848 13.6348 2.21191C13.8809 2.45801 13.8809 2.86816 13.6348 3.11426L8.35742 8.36426C8.11133 8.6377 7.70117 8.6377 7.45508 8.36426Z" fill="%23' + str-slice('#{$form_select_arrow_color}', 2) + '"/></svg>') !important;
		background-repeat: no-repeat !important;
	
	}
	&::after {
		display: none !important;
	}
	&::before {
		  display: none !important;
	}
}

.form-control {
    background: $quaternary_color;
	 line-height: 17.5px;
	@if $enable-radius-btn{
		border-top-right-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
	&:focus {
		background-color:  $quaternary_color !important;
	}
}

.input-group-text {
	@if $enable-radius-btn{
		border-top-left-radius: 10px !important;
		border-bottom-left-radius: 10px !important;
	}
}
.select-selected {
	@if $enable-radius-btn{
		border-top-right-radius: 10px !important;
		border-bottom-right-radius: 10px !important;
	}
}


.blog  {
	&.elementor-template-full-width .elementor .elementor-widget-heading h1.elementor-heading-title {
		margin-bottom: 50px;
	}
	.page_content {
		padding: 0 !important;
		margin: 0 !important;
	}
	.subpage_full_content {
		padding-bottom: 0 !important;
		margin-bottom: 0 !important;
		& > .row {
			padding-bottom: 0 !important;
		}
	}
}

.col-search {
	 @include media-breakpoint-up(xl) {
		width: 30.991% !important;
	 }
}