// button styling

$enable-boxshadow-btn:false !default;
$enable-border-btn:true !default;

@mixin btn {
	min-width: $btn-min-width ;
	min-height: $btn-min-height;
	padding-left: $btn-padding-left !important;
    padding-right: $btn-padding-right !important;
	gap: 10px;
	transition: 0.5s ease;

	@if $enable-boxshadow-btn {
		box-shadow: 0px 2px 5px 0px rgba(0, 49, 56, 0.20);
	}
	 @include media-breakpoint-down(lg) {
			min-height: $btn-min-height !important;
	 }
	
	} 
.btn:not(.bc_toggle_btn) {
	@include btn();	
}

@if $enable-border-btn {
	.btn-primary, .elementor .btn-primary { 
		border: 2px solid  transparent !important;
	}

	.btn-primary,.elementor .btn-primary,.wpjb-submit ,a.wpjb-button.wpjb-form-toggle.wpjb-form-job-apply,a.wpjb-button.wpjb-form-toggle.wpjb-form-job-apply:visited{
		&:hover {
			background: $primary-color !important;
			border-color: $primary-color !important;
		}
		i {
			line-height: normal;
			margin-right: 0 !important;
		}
	}
	.btn-secondary, .elementor .btn-secondary {  
		border: 2px solid  $primary-color !important; 
		&:hover{ 
			background: $true_white !important;
			border-color: currentColor !important; 
		}
	}

	.btn-secondary-alt, .elementor .btn-secondary-alt {  
		border: 2px solid  currentColor !important; 
		&:hover{ 
			background: currentColor !important;
			border-color: currentColor !important; 
		}
	}
}