.mobile_buttons {
    margin-bottom: 11px;

    .header_accordion button {
        background-color: $primary_color !important;
    }

    .btn:not(.bc_toggle_btn) {
        padding-left: 15px !important;
        padding-right: 15px !important;
        min-height: 43px !important;
    }
}

.mobile_cta_popup,
.elementor .mobile_cta_popup {
    .btn-quaternary {
        width: 100%;
        border-radius: 200px !important;
        max-width: 100%;
        border-color: $true_black !important;
        min-height: 43px !important;
    }
}

.bc_nav_container_mobile {
    #navbarSupportedContent {
        @media (hover: none), only screen and (max-width: 991px) {
            .navbar-toggler {
                line-height: normal;
                padding: 0 !important;
                min-width: 18px;
                min-height: 24px;
            }

            ul.navbar-nav {
                > li {
                     > a {
                            font-weight: 500;
                            line-height: 20px;
                        }
                    &.dropdown-active {
                        > a {
                            border-bottom: 3px solid $primary_color !important;
                        }
                    }

                    > ul {
                        padding-left: 0 !important;

                        > li {
                            > a {
                                padding-left: 20px !important;
                                padding-right: 20px !important;
                                line-height: normal;
                                color: $secondary_color;
                                .nav-link-title {
                                    color: $secondary_color;
                                }
                            }

                            &:hover {
                                > a {
                                    background-color: $primary_color !important;
                                    color: $true_black;
                                  .nav-link-title {
                                    color: $true_black;
                                  }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.show-level-3 {
            ul.navbar-nav {
                .level-3-active {
                    top: 100% !important;
                }
            }
        }
    }
}
