// Define common variables
$nav-link-padding: 12px 16px !default;
$nav-link-padding-lg: 6.25px 16px !default;
$nav-link-gap: 10px !default;
$nav-link-font-size: 12px !default;
$nav-link-line-height: 22.38px !default;
$nav-dropdown-icon-size: 12px !default;
$nav-dropdown-icon-color: $tertiary_color !default;
$nav-border-color: null !default;
$nav-border-width: null !default;
$nav-top: $nav-border-width !default;

// navgations styling
.nav_container_desktop {
    #navbarSupportedContentDesktop {
        ul.navbar-nav {
            
            li {
                   line-height: normal;
            }
            ul {
                border-width: $nav-border-width;
            }

            // Level 1 Links
            > li {
                background: transparent !important;
                padding: 0 0 52.5px 0 !important;

                > a {
                    padding: 0 !important;
                    display: inline-flex;
                    gap: 6px;

                    .nav-dropdown-icon {
                        position: static;
                        font-size: $nav-dropdown-icon-size;

                        i {
                            font-size: $nav-link-font-size;
                            line-height: $nav-link-line-height;
                        }
                    }
                }

                &:hover {
                    > a {
                        .nav-link-title {
                            text-decoration: underline;
                        }
                    }
                }

                &.dropdown {
                    padding-right: 0 !important;
                }
            }

            // Level 2 links
            > li > ul {
                > li {
                    position: relative;

                    &:first-child {
                        > ul {
                            top: -$nav-top;
                        }
                    }

                    > a {
                        padding: $nav-link-padding !important;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: $nav-link-gap;
                        line-height:normal;
                        font-weight: 400;
                        text-transform: capitalize;

                        @media (min-width: 1200px) and (max-width: 1400px) {
                            padding: $nav-link-padding-lg !important;
                        }

                        .nav-dropdown-icon {
                            position: static;
                            display: inline-block;
                            font-size: $nav-dropdown-icon-size;

                            i {
                                font-size: $nav-link-font-size;
                                line-height: $nav-link-line-height;
                            }
                        }
                    }

                &:hover {
                    > a {
                       .nav-dropdown-icon {
                           color: $nav-dropdown-icon-color;
                        }
                    }
                }

                }
            }

            // Level 3 links
            > li > ul > li > ul {
                > li {

                    > a {
                        padding: $nav-link-padding !important;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: $nav-link-gap;

                        @media (min-width: 1200px) and (max-width: 1400px) {
                            padding: $nav-link-padding-lg !important;
                        }

                        .nav-dropdown-icon {
                            position: static;
                            display: inline-block;
                            font-size: $nav-dropdown-icon-size;
                            transform: rotate(-90deg);
                            i {
                                font-size: $nav-link-font-size;
                                line-height: $nav-link-line-height;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* navgations styling */