.pagination {
    margin-bottom: 0 !important;
}
.page-item {
    margin-bottom: 0 !important;
    .page-link {
        border-color: $pagination_border_colors !important;
        line-height: $pagination_line_height;
        font-size: $pagination_font_size;
        font-weight: $pagination_font_weight;
        font-family: $pagination_font_family !important;
        color: $pagination_colors !important;
        min-height: 44px;
        min-width: 26px;
        &:hover {
            background-color: $pagination_hover_background_color !important;
            color: $pagination_current_color !important;
            text-decoration: none !important;
             font-size: $pagination_font_size !important;
        }

        &.next,&.prev {
           min-width: 36px; 
        }

    }

    &:first-child .page-link {
        border-top-left-radius: $pagination_border_radius;
        border-bottom-left-radius: $pagination_border_radius;
    }
    &:last-child .page-link {
        border-top-right-radius: $pagination_border_radius;
        border-bottom-right-radius: $pagination_border_radius;
    }
    .page-link.current {
        background-color: $pagination_current_background_color !important;
        color: $pagination_current_color !important;
    }
} 


.search-page-pagination,.blog-page-pagination {

    margin: 0 !important;
    padding: 0 !important;
    &> nav {
        margin-top: 60px;
    }

}