/* Common Styles */
div.swiper-pagination-fraction,
div.swiper-pagination-custom,
div.swiper-horizontal > .swiper-pagination-bullets,
div.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto;
  margin-top: 0;
  position: static !important;
  text-align: center;
  line-height: initial;
  display: flex;
  align-items: center;
}

div.swiper-pagination-bullets.swiper-pagination-lock {
  display: none;
}
span.swiper-pagination-bullet {
  width: $swiper_bullet_width;
  height: $swiper_bullet_height;
  background: transparent;
  opacity: 1;
  border: 2px solid $swiper_bullet_color;
}
span.swiper-pagination-bullet-active {
  background:  $swiper_bullet_active_color;
}

div.swiper-horizontal > .swiper-pagination-bullets,
div.swiper-pagination-horizontal.swiper-pagination-bullets {
  .swiper-pagination-bullet {
    margin: 0 $swiper_bullet_spacing; 
 
  }
}


div.swiper-button-prev,
div.swiper-button-next {
  width:  $swiper_arrow_width;
  height: $swiper_arrow_height;
  margin-top: 0;
	border-radius: $swiper_arrow_bg_radius;
  color: $swiper_arrow_color;
  position: static;
  &:after {
  font-size: $swiper_arrow_size;
  display: block !important;
  font-family: 'icomoon' !important;
  }
  &:hover {
    color: $swiper_arrow_hover_color;
  }
}

div.swiper-button-prev,
div.swiper-rtl .swiper-button-next {
  margin-right: 8px;
  &:after {
    content: "\ebb4";
  }
}

div.swiper-button-next,
.swiper-rtl div.swiper-button-prev {
  margin-left: 8px;
  &:after {
    content: "\ebb8";
  }
}

/*affiliation-swiper */
.affiliation-swiper {
      div.swiper-button-prev,
      div.swiper-button-next {
        position: absolute !important;
        margin-top: calc(-#{$swiper_arrow_height} / 2);
        color: $true_black;
      }
      div.swiper-button-prev,
      div.swiper-rtl .swiper-button-next {
        margin-right: 0;
        &:after {
          content: "\eb58";
        }
      }

      div.swiper-button-next,
      .swiper-rtl div.swiper-button-prev {
        margin-left: 0;
        &:after {
          content: "\eb5c";
        }
      }
}

.affiliation_light {

  .affiliation-swiper {
      div.swiper-button-prev,
      div.swiper-button-next {
        color: $true_white;
      }

}
}

/*lightbox-swiper */

div.swiper-button-next-lightbox-gallery, div.swiper-button-prev-lightbox-gallery {
    color: $true_white;
    position: absolute;
    border-radius: 0;
    margin-top: calc(-50px / 2);
    width: 45px !important;
    height: 100px !important;
    &:hover {
    color: $true_white;
  }
}

div.swiper-button-prev-lightbox-gallery,
div.swiper-rtl .swiper-button-next-lightbox-gallery {
    left: 25px !important;
    @include media-breakpoint-down(lg) {
       left: 15px !important;
    }
  &:after {
    content: "\eb58";
    font-size: 30px;
  }
}

div.swiper-button-next-lightbox-gallery,
.swiper-rtl div.swiper-button-prev-lightbox-gallery {
  right: 25px !important;
    @include media-breakpoint-down(lg) {
       right: 15px !important;
    }
  &:after {
    content: "\eb5c";
    font-size: 30px;
  }
}

/*controls-primary */

.controls-primary {

  span.swiper-pagination-bullet {
  border-color: $primary_color;
}
  span.swiper-pagination-bullet-active {
    background:  $primary_color;
  }

div.swiper-button-prev,
div.swiper-button-next {
	border-radius: $primary_color;
  color: $primary_color;
  &:hover {
    color: $primary_color;
  }
}

}

.reviews-swiper {
  span.swiper-pagination-bullet {
    border-color: $secondary_color;
  }
  span.swiper-pagination-bullet-active {
    background:  $secondary_color;
  }
    
  div.swiper-button-prev,
  div.swiper-button-next {
    color: $secondary_color;
    &:hover {
      color: $secondary_color;
    }
  }
}